
.header .well{
    height:11em;
}

.value .input-group input{
    text-align:center;
}

.borderless td, .borderless th  {
    border: none !important;

}
.btn-number{
    padding-left:8px;
    padding-right:8px;
}
.total-value, .total-label{
    font-size: 2em;
}
.total-value label{
    margin-right:1em;
}


/*                                          TABELLA */

/* Methods */
.method .header, .method .cell {
  padding: 1px 0px 1px 0px; }
.method .list-header .header {
  font-weight: normal;
  text-align:center;
  text-transform: uppercase;
  font-size: 1em;
  color: #999;
  background-color: #eee; }
.method [class^="row"],
.method [class*=" row"] {
  border-bottom: 1px solid #ddd; }
  .method [class^="row"]:hover,
  .method [class*=" row"]:hover {
    background-color: #f7f7f7; }
.method .cell {
  font-size: 1em; }
  .method .cell .mobile-value {
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 1.5em; }
  .method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .method .cell .price {
    white-space: nowrap;
    overflow: hidden;
    text-align:center;
    text-overflow: ellipsis; }
  .method .cell code {
    color: #428bca; }
  .method .cell a, .method .cell a:hover {
    text-decoration: none; }
  .method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none; }
  .method .cell .text-muted {
    color: #ddd; }
@media (max-width: 991px) {
  .method [class^="row"],
  .method [class*=" row"] {
    padding-top: 1px;
    padding-bottom: 1px; }
  .method .cell {
    padding: 0 2px 0 2px; }
    .method .cell .propertyname {
      font-weight: bold;
      font-size: 1.5em; }
      .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px; }
    .method .cell .price {
      padding: 15px 2px;
      font-size: 1.0em; }
    .method .cell .value {
      padding: 9px 0;
      text-align:center;
      }
    .method .cell .value input{
      padding: 0 !important;
      }

    .method .cell .description {
      padding: 15px 2px; }


    .method .cell .mobile-value{
      display: inline; } }


/* Row Utilities */
[class^='row'].margin-0,
[class*=' row'].margin-0,
[class^='form-group'].margin-0,
[class*=' form-group'].margin-0 {
  margin-left: -0px;
  margin-right: -0px; }
  [class^='row'].margin-0 > [class^='col-'],
  [class^='row'].margin-0 > [class*=' col-'],
  [class*=' row'].margin-0 > [class^='col-'],
  [class*=' row'].margin-0 > [class*=' col-'],
  [class^='form-group'].margin-0 > [class^='col-'],
  [class^='form-group'].margin-0 > [class*=' col-'],
  [class*=' form-group'].margin-0 > [class^='col-'],
  [class*=' form-group'].margin-0 > [class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px; }
  [class^='row'].margin-0 [class^='row'],
  [class^='row'].margin-0 [class*=' row'],
  [class^='row'].margin-0 [class^='form-group'],
  [class^='row'].margin-0 [class*=' form-group'],
  [class*=' row'].margin-0 [class^='row'],
  [class*=' row'].margin-0 [class*=' row'],
  [class*=' row'].margin-0 [class^='form-group'],
  [class*=' row'].margin-0 [class*=' form-group'],
  [class^='form-group'].margin-0 [class^='row'],
  [class^='form-group'].margin-0 [class*=' row'],
  [class^='form-group'].margin-0 [class^='form-group'],
  [class^='form-group'].margin-0 [class*=' form-group'],
  [class*=' form-group'].margin-0 [class^='row'],
  [class*=' form-group'].margin-0 [class*=' row'],
  [class*=' form-group'].margin-0 [class^='form-group'],
  [class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0; }

